<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>FabricTout</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<env-entry>
		<env-entry-name>baseURL</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:8080/FabricToutAPI/apiRest</env-entry-value>
	</env-entry>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SiteServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.SiteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SiteServlet</servlet-name>
		<url-pattern>/Site</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AreaServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.AreaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AreaServlet</servlet-name>
		<url-pattern>/Area</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ErrorServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.ErrorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorServlet</servlet-name>
		<url-pattern>/Error</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.AddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserDetailsServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.UserDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDetailsServlet</servlet-name>
		<url-pattern>/UserDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddSiteServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.AddSiteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSiteServlet</servlet-name>
		<url-pattern>/AddSite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAreaServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.AddAreaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAreaServlet</servlet-name>
		<url-pattern>/AddArea</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MachineServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.MachineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MachineServlet</servlet-name>
		<url-pattern>/Machine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MachineDetailsServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.MachineDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MachineDetailsServlet</servlet-name>
		<url-pattern>/MachineDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddMachineServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.AddMachineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMachineServlet</servlet-name>
		<url-pattern>/AddMachine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MaintenanceServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.MaintenanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaintenanceServlet</servlet-name>
		<url-pattern>/Maintenance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MaintenanceDetailsServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.MaintenanceDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaintenanceDetailsServlet</servlet-name>
		<url-pattern>/MaintenanceDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddMaintenanceServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.AddMaintenanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMaintenanceServlet</servlet-name>
		<url-pattern>/AddMaintenance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddReportServlet</servlet-name>
		<servlet-class>be.fabrictout.servlets.AddReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddReportServlet</servlet-name>
		<url-pattern>/AddReport</url-pattern>
	</servlet-mapping>
</web-app>